# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Local variables
terraform.tfvars

# Keep lock file
!.terraform.lock.hcl

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store